.app_recent_activity_item {
  &__left {
    &__name {
      font-weight: 700;
      font-size: 14px;
      line-height: 136%;
      letter-spacing: -0.01em;
      color: #282828;
    }

    &__address {
      font-weight: 500;
      font-size: 14px;
      line-height: 136%;
      letter-spacing: -0.01em;
      color: var(--grey-cheq);
    }

    &__name.right,
    &__address.right {
      text-align: right;
    }
  }
}
