.app_login {
  font-family: var(--font-geist-sans);
  &__top {
    &__title {
      &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #282828;
        text-align: center;
      }

      &__info {
        font-weight: 500;
        font-size: 12px;
        line-height: 143%;
        letter-spacing: -0.01em;
        text-align: center;
        color: var(--grey-cheq);
      }
    }

    &__email {
      border: 1px solid #f8f8f8;
      border-radius: 8px;
      background: #f4f6f8;
      padding-right: 7px;
      box-shadow: 0px 0px 0px 1px #0000000a;

      &__input {
        background-color: transparent;
        height: 48px;
        padding: 12px;

        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: -0.01em;
        color: #282828;

        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 1000px #f4f6f8 inset;
          -webkit-text-fill-color: #282828;
        }
      }

      &__btn {
        padding: 5px 10px;
        border-radius: 6px;
        background: #0b0b0b;

        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: -0.01em;
        color: #f9f9f9e5;
        box-shadow: 0px 0.5px 0px 1px #dcdcdc40;
      }
    }

    &__divider {
      position: relative;

      &__line {
        width: 100%;
        height: 1px;
        background-color: #f4f4f4;
      }

      &__text {
        text-align: center;
        z-index: 1;

        font-weight: 400;
        font-size: 13px;
        line-height: 107%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #afb3b8;
      }
    }
  }

  &__bottom {
    overflow-y: overlay;

    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 3px;
      transition: background 0.2s;
    }
    &:hover::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.15);
    }
  }

  &__wallet {
    // background-color: red;
    background-color: #f4f6f8;
    border-radius: 12px;
    padding: 8px 24px;

    &__icon {
      width: 32px;
      height: 32px;
      object-fit: contain;
    }

    &__name {
      font-weight: 500;
      font-size: 16px;
      line-height: 143%;
      letter-spacing: -0.01em;
      text-align: center;
      color: #282828;
    }

    &__recent {
      border-radius: 4px;
      padding: 3px 8px;
      background: #f5f5f5;

      &__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #afb3b8;
      }
    }

    &__installed {
      font-weight: 500;
      font-size: 12px;
      line-height: 117%;
      letter-spacing: -0.01em;
      text-align: center;
      color: #afb3b8;
    }
  }
}
