.app_create_position_popover {
  flex: 1;

  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #787878;
  }
}

.app_token_popover {
  padding: 0.5rem;

  &__top {
    border-radius: 8px;
    background: #f5f5f5;
    padding: 0 10px;

    &__input {
      height: 40px;
      background-color: transparent;
      font-weight: 600;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: -0.01em;
      color: #282828;
    }
  }

  &__body {
    flex: 1;
    overflow-y: auto;
    padding: 0 1rem;
  }

  &__body.market_conditions {
    padding: 0;
  }
}

.app_position_type_popover {
  padding: 1rem;

  &__body {
    &__item {
      &__icon {
        border-radius: 5px;
        width: 24px;
        height: 24px;
        background: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__name {
        font-weight: 700;
        font-size: 12px;
        line-height: 133%;
        letter-spacing: -0.01em;
        color: #282828;
      }

      &__info {
        font-weight: 600;
        font-size: 11px;
        line-height: 136%;
        letter-spacing: -0.01em;
        color: var(--grey-cheq);
      }
    }
  }
}

.app_timeframe_popover {
  height: 210px;
  padding: 1.5rem;

  &__options {
    position: relative;

    &__absolute {
      position: absolute;
      top: calc(100% + 5px);
      right: 0;
      z-index: 9;
      max-width: 90px;
      width: 100%;
      overflow: hidden;
      // max-height: 100px;
    }

    &__dropdown {
      border: 1px solid #f8f8f8;
      border-radius: 4px;
      background: #f4f6f8;
      padding: 6px 9px;

      &__item {
        font-weight: 600;
        font-size: 12px;
        line-height: 133%;
        letter-spacing: -0.01em;
        color: #9a9a9a;
        text-align: left;
      }
    }
  }

  &__period {
    border: 1px solid #f8f8f8;
    border-radius: 9px;
    background: #f4f6f8;
    padding: 6px 9px;
    width: 90px;

    &__text {
      font-weight: 600;
      font-size: 12px;
      line-height: 133%;
      letter-spacing: -0.01em;
      color: #9a9a9a;
    }
  }

  &__time {
    &__button {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f4f4f4;
      border-radius: 4px;
    }

    &__value {
      height: 72px;
      width: 80px;
      overflow: hidden;
      // background-color: red;

      &__animated {
        // background-color: yellow;
        height: 72px;
      }

      &__text {
        font-weight: 700;
        font-size: 64px;
        line-height: 112%;
        letter-spacing: -0.01em;
        color: #282828;

        height: 72px;
      }
    }

    &__label {
      font-weight: 700;
      font-size: 16px;
      line-height: 125%;
      letter-spacing: -0.01em;
      text-align: center;
      color: #282828;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #9a9a9a;
    text-align: center;
  }
}

.app_market_conditions_item {
  &__icon {
    border-radius: 5px;
    width: 32px;
    height: 32px;
    background: #00ce2c;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon.blue {
    background: #008fff;
  }

  &__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: #282828;
    text-align: left;
  }

  &__details {
    font-weight: 600;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #9b9fa4;
    text-align: left;
  }
}
