.app_header {
  max-width: var(--ctt-width); //Go to /public/scss/components/shared/layout/_layout to adjust
  margin: 0 auto;
  padding: 27px var(--ctt-padding); //Go to /public/scss/components/shared/layout/_layout to adjust

  &__links {
    &__item {
      border-radius: 10px;
      padding: 10px 8px;
      font-weight: 600;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: -0.01em;
      color: #282828;
    }
  }

  &__middle {
    max-width: 313px;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    transition: all 0.3s ease;

    &.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &__search {
      &__input {
        flex: 1;
        background-color: transparent;
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: -0.01em;
        color: var(--grey-cheq);
        border-radius: 0;
      }

      &__icon {
        border-radius: 3px;
        width: 20px;
        height: 20px;
        background: #e4e4e4;
        display: flex;
        justify-content: center;
        align-items: center;

        &__text {
          font-weight: 600;
          font-size: 12px;
          line-height: 167%;
          letter-spacing: -0.01em;
          color: var(--grey-cheq);
        }
      }
    }
  }

  &__auth {
    &__btn {
      border-radius: 10px;
      padding: 8px 14px;
      font-weight: 700;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: -0.01em;
      color: #282828;
    }

    &__btn__signup {
      background: #014cec;
      color: #fff;
    }
  }
}

.app_header_search_popover {
  background-color: #f5f5f5;
  max-height: 0px;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 99;
  transition: all 0.2s ease-in-out;

  &.open {
    max-height: 300px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 107%;
    letter-spacing: -0.01em;
    color: #282828;
    padding: 0 14px;
  }

  &__btn {
    transition: all 0.3s ease;
    &:hover {
      background-color: #eaeced;
      opacity: 1;
    }
  }

  &__item {
    padding: 10px 14px;

    &__icon {
      position: relative;
      display: flex;
      align-items: flex-end;
      align-self: center;

      &__base {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 14px;
        height: 14px;
        background-color: #0052ff;
        border: 1px solid #f5f5f5;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
      }
    }

    &__name {
      text-align: left;
      font-weight: 700;
      font-size: 14px;
      line-height: 136%;
      letter-spacing: -0.01em;
      color: #282828;
    }

    &__address {
      font-weight: 500;
      font-size: 11px;
      line-height: 118%;
      letter-spacing: -0.01em;
      color: var(--grey-cheq);

      span {
        font-weight: 700;
        font-size: 12px;
        line-height: 125%;
      }
    }

    &__price {
      font-weight: 700;
      font-size: 14px;
      line-height: 136%;
      letter-spacing: -0.01em;
      color: #282828;
    }

    &__change {
      font-weight: 500;
      font-size: 12px;
      line-height: 133%;
      letter-spacing: -0.01em;
      text-align: right;
      color: var(--grey-cheq);
    }
  }
}
